/*검색창*/
.search-area {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    padding-top: 15px;

    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}
.search-position {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.search-position input {
    width: 80%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 40px;
    padding-left: 30px;
    outline: none;
}

.search-position div {
    padding-left: 20px;
    margin-bottom: 10px;
    color: #888;
}

#search-button {
    height: 40px;
    outline: none;
    border: 0;
    background-color: inherit;
    color: #93a6d9;
    margin-left: 12px;
    font-size: 1em;
    font-weight: 500;
}

/*카테고리 선택란*/
.category-area {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 40px;

    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.category-position {
    width: 100%;
    height: 100px;
    margin: 0 auto;

    /*정렬*/
    display: flex;
    justify-content: space-around;
}

.category-position div {
    align-items: center;
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.category-position div:hover {
    color: white;
    background-color: #93a6d9;
    transition: all 250ms linear;
}

/*button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}*/

#all-re-load {
    width: 120px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    margin: 10px 0 0 10px;
}

#all-re-load:hover {
    background-color: #62b6ff;
    box-shadow: 0px 15px 20px #37a2ff5b;
    color: #fff;
    transform: translateY(-7px);
}

/*코스 추가되는 부분*/
.course-area {
    padding: 10px;
    min-height: 700px;
    background-color: white;
    border: 1px solid #f0f0f0;
}
.course-result {
    margin: 10px auto 0;
    width: 90%;
    border-radius: 5px;
    box-shadow: 3px 3px 20px #ddd;
    display: flex;
    position: relative;
}

.course {
    width: 60%;
}

.delete {
    width: 25px;
    position: absolute;
    right: 10px;
}
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.result-title {
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 767px) {
    html {
        padding-bottom: 100px;
    }

    .course-area {
        min-height: 600px;
    }
    .course-result {
        flex-direction: column;
        align-items: center;
    }

    .course {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result-content {
        width: 100%;
        text-align: left;
    }

    .result-img {
        margin-top: 25px;
    }

    /*검색창*/
    .search-position input {
        width: 60%;
    }
}
@media (max-width: 320px) {
    #container {
        width: 100%;
    }
    .search-position p {
        width: 40%;
    }
    .course-area p {
        margin-left: 10px;
    }
}
.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
