* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(240, 240, 240);
}
#container {
    width: 760px;
    margin: 0 auto;
}
.search-area {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    background: white;
    border-radius: 5px;
}
.search-position {
    width: 30%;
    margin: 0 auto;
}
.search-position p {
    float: left;
}
.search-position input {
    clear: both;
}
.category-area {
    width: 100%;
    height: 100px;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
}
.category-position {
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.category-position ul li {
    display: block;
    float: left;
    margin: 5px;
}

.randomfood {
    margin-top: 10px;
    width: 100%;
    height: 210px;
    background: white;
    border-radius: 5px;
}

.course-area img {
    float: left;
    margin-top: 10px;
    margin-left: 7px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}
#course {
    float: left;
    margin-top: 10px;
    margin-left: 7px;
    width: 60%;
}
#erase {
    float: right;
}
.button-area {
    clear: both;
    width: 100px;
    height: 30px;
    margin: 0 auto;
}
#rerandom {
    background-color: orange;
    box-sizing: border-box;
    border: white solid 1px;
    color: white;
    font-size: 1em;
    width: 100px;
    height: 30px;
}

@media (max-width: 767px) {
    * {
        margin: 0 0;
        padding: 0 0;
    }
    #container {
        width: 80%;
    }
    .course-area p {
        width: 50%;
    }
}
@media (max-width: 320px) {
    * {
        margin: 0;
        padding: 0;
    }
    .search-position {
        width: 50%;
        height: 100px;
    }
    .search-position p {
        width: 40%;
    }
    .search-position input {
        width: 55%;
    }
    .course-area img {
        width: 40%;
    }
    .course-area p {
        margin-left: 10px;
    }
}
