/*로딩중 애니메이션*/
@keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    66% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/*공 3개가 움직이는 애니매이션*/
.ball-pulse-sync > div:nth-child(1) {
    -webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(2) {
    -webkit-animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
    -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
    animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

.ball-pulse-sync > div {
    background-color: #bfbfbf;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 4px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
.loader {
    display: none;
    margin: 0 auto;
    text-align: center;
    color: #bfbfbf;
    margin-bottom: 5px;
}

/*검색 폼*/
#seacrh-form {
    text-align: center;
}
/*네이버 검색인지 관광지 검색이지 선택하는 부분*/
.search-type {
    width: 110px;
    padding: 0.8em 0.5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../../src/searchPage/arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 3px;
}
#search-type::-ms-expand {
    display: none;
}
#search-input {
    width: 200px;
    border-radius: 0px;
    border: 1px solid #999;
    padding: 0.8em 0.5em;
}
/*입력 버튼*/
#search-button {
    border-radius: 0px;
    border: 1px solid #999;
    padding: 0.8em 0.5em;
    width: 70px;
}
/*검색 정보*/
#search-info {
    margin-top: 20px;
    font-size: 1.2rem;
}
/*카드 묶음*/
.cardview {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;
    flex-wrap: wrap;
}
/*카드 묶음들의 제목 ex)야골라 통합검색*/
.cardview-title {
    text-align: center;
    font-size: 28px;
    font-weight: 510;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -1.6px;
    color: #333333;
    margin-bottom: 15px;
}
/*카드 클래스*/
.card {
    display: flex;
    margin: 20px 0;
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.06);
    transition: 0.25s;
    width: 99%; /*반응형 바꿔줄것*/
    cursor: pointer;
}
/*카드위에 마우스 올렸을때 그림자 변화*/
.card:hover {
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.2);
    transition: 1s;
}
/*카드 이미지*/
.card-header {
    height: 150px;
    width: 24%;
    padding: 3%;
    background-size: cover;
    background-position: center;
    background-color: white;
    color: #fff;
}
/*카드 내용물*/
.card-body {
    width: 76%;
    height: 150px;
    padding: 0% 6%;
    background-color: #fff;
}
/*카드 내용물 중 제목 ex)성심당*/
.body-title {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bold;
}
/*카드 내용물 중 카테고리 ex)카페*/
.body-category {
    margin-left: 5px;
    color: #bfbfbf;
    font-size: 0.9rem;
}
/*카드 내용물 설명*/
.body-content {
    margin-bottom: 5px;
    font-size: 18px;
    /* 여러 줄 자르기 추가 스타일 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    line-height: 1.8;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.body-content-extra {
    display: flex;
    font-size: 12px;
    /* 여러 줄 자르기 추가 스타일 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    line-height: 1.8;
    text-align: left;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/*카드 내용물 중 태그들을 태그형식으로 스타일*/
.body-content-list-tags {
    padding: 0% 2%;
    margin: 1% 1% 0 0;
    background-color: #0a6ebd;
    color: white;
    border-radius: 5px;
    display: inline-block;
}
@media (max-width: 767px) {
    /*타블렛 기준 반응형*/
    .body-tag-box {
        /*태그 박스 숨기기*/
        display: none;
    }
    .body-title {
        display: inline-block;
        margin-top: 10px;
        font-weight: 700;
    }
    .body-category {
        /*카테고리 숨기기*/
        display: none;
    }
    #container {
        padding-bottom: 50px;
    }
}
@media (max-width: 320px) {
    /*모바일 기준 반응형*/
    html {
        /*폰트 반응형*/
        font-size: 14px;
    }
    .card {
        /*디스플레이 변경*/
        display: block;
        margin: 40px 0;
        box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.06);
        transition: 0.25s;
        width: 99%;
        cursor: pointer;
    }
    .card-header {
        /*세로 카드의 이미지*/
        height: 150px;
        padding: 0%;
        width: 100%; /*너비 최대*/
        background-size: cover;
        background-position: center;
        background-color: white;
        color: #fff;
    }
    .body-content {
        font-size: 14px;
        white-space: normal;
        line-height: 1.8;
        height: 3.6em;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .body-tag-box {
        display: none;
    }
    .body-title {
        margin-top: 10px;
        font-weight: 700;
    }
    .body-category {
        display: none;
    }
    #container {
        padding-bottom: 50px;
    }
    .body-title {
        /* 여러 줄 자르기 추가 스타일 */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        white-space: normal;
        line-height: 1.8;
        height: 1.8em;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}
